.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px; 
  background: linear-gradient(110deg, #2c2c2c 50%, #f7da21 50%);
}

.navbar-icon {
  height: 80px; 
  width: auto;
  margin-left: 50px; 
}