.quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #2c2c2c;
    height: 100vh;
    color: #fff;
}

.quiz h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 35px;
}

.quiz h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 0px 10px 25px 10px;
}

.quiz .code{
    font-size: 17px;
    color: #fff;
    margin-bottom: 25px;
}

.quiz .options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5px 10px;
    margin-bottom: 50px;
}

.quiz .options button{
    padding: 2px 5px;
    font-size: 15px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    color: #000;
    margin-right: 250px;
}


.button-group {
  position: fixed;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px; /* spacing between buttons */
  z-index: 1000;
}

#prev,
#next {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quiz .options button.selected {
  background-color: #f7da21;
  color: #000;
}
